<div class="mt-4">
    <h3>Đăng ảnh mới</h3>

    <form method="post" action="/posts/store">
        <div class="form-group">
            <label for="name">Tên ảnh</label>
            <input type="text" class="form-control" id="name" name="name">
            
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
            
        </div>
        <div class="form-group">
            <label for="image">Đường dẫn</label>
            <input type="text" class="form-control" id="image" name="image">
            
        </div>
        <button type="submit" class="btn btn-primary">Thêm ảnh mới</button>
    </form>
</div>