<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
                <img class="card-img-top" src="{{post.image}}" alt="{{post.name}}" >
        </div>

        <div class="col-lg-3">
            <button onclick="history.back()">
                Quay lai
            </button>
            <h2>{{post.name}}</h2>
            <p>{{post.description}}</p>
            
        </div>
        
    </div>
</div>